<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/stylesheet.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap" rel="stylesheet">

    <title>CloseToCloset</title>
</head>
<body>
    <header>
        <div class="nav">
            <a href="/">홈</a>
            <a href="/closet">옷장정리</a>
            <a href="/ootd">OOTD</a>
            <a href="/setting">설정</a>
        </div>
    </header>
   <div class="main-box">
        <div class="closet-box-1">
            <div class="closet1">
                <p><a href="/closet_1">1</a></p>
            </div>
            
            <div class="closet2">
                <p><a href="">2</a></p>
            </div>
            
            <div class="closet3">
                <p><a href="">3</a></p>
            </div>
            
            <div class="closet4">
                <p><a href="">4</a></p>
            </div>
        </div>

        <div class="closet-box-2">
            <div class="closet5">
                <p><a href="">5</a></p>
            </div>
        </div>

        <div class="closet-box-3">
            <div class="closet6">
                <p><a href="">6</a></p>
            </div>
            
            <div class="closet7">
                <p><a href="">7</a></p>
            </div>
        </div>

        <div class="add-box">
            <a href="/add">옷 추가하기</a>
        </div>
    </div>
</body>
</html>