/* CSS Reset */
* {outline:0 !important;}
html,body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,code,address,ul,ol,li,menu,nav,section,article,aside,
dl,dt,dd,table,thead,tbody,tfoot,label,caption,th,td,form,fieldset,legend,hr,input,button,textarea,object,figure,figcaption {margin:0;padding:0;}
html, body{width:100%;}
html{-webkit-touch-callout:none; -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
body{width:100%; background:#fff; min-width:320px; -webkit-text-size-adjust:none;word-wrap:break-word;word-break:break-all;}
body,input,select,textarea,button {border:none;font-size:12px; font-family: 'Noto Sans KR', sans-serif;color:#727272;}
ul,ol,li{list-style:none;}
table{width:100%;border-spacing:0;border-collapse:collapse;}
img,fieldset{border:0;}
address,cite,code,em{font-style:normal;font-weight:normal;}
label,img,input,select,textarea,button{vertical-align:middle;}
.hide,caption,legend{line-height:0;font-size:1px;overflow:hidden;}
hr{display:none;}
main,header,section,nav,footer,aside,article,figure{display:block;}
a{color:#000;text-decoration:none;}
 
body{
    max-height: 100%;
}
/* 메뉴 */
.nav{
    
    text-align: center;;
    width: 100%;
    display: inline-block;
    box-shadow: #dfdede 2px 2px 5px;
}
.nav a
{
    padding: 40px 0;
    display: block;
    float: left;
    text-align: center;
    width: 25%;
    text-decoration: none;
    font-size: 17px;
}

.nav a:hover{
    background-color: rgb(92, 92, 92);
    color: rgb(255, 255, 255);
}

/* 홈페이지 */
.main{
    display: flex;
    align-items: center;
    justify-content: center
}

.img-box, .text-box{
    float: left;
    text-align: center;
    width: 50%;
}

.img-box img{
    padding-top: 100px;
    display: block;
    width: 40%;
    margin: auto;
}

.text-box h1{
    font-size: 40px;
}

/* 옷장 */
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-top: 100px;
}

.closet-box-1, .closet-box-2, .closet-box-3 {
    height: 100%;
    float: left;
    text-align: center;
    width: 15%;
}

.closet1, .closet2, .closet3, .closet4, .closet5, .closet6, .closet7{
    background-color: beige;
    text-align: center;
    margin: 0;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 0;
}

.closet1{
    height: 55%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
    .closet2, .closet3, .closet4{
    height: 15%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.closet4{
    border-bottom: 1px solid black;
}

.closet5{
    height: 100%;
    border-top:1px solid black;
    border-bottom: 1px solid black;
    padding-bottom: 3px;
}

.closet6, .closet7{
    height: 50%;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.closet7{
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}

.add-box{
    width: 10%;
    float: left;
    margin: 0 100px;
    text-align: center;
    padding: 50px;
    border: 2px solid black;
}